/bin/
/.classpath
/.project
.github/workflows/learn-github-actions.yml.bak
.github/workflows/sonarcloud.yml.bak
target/classes/com/Main.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.MainTest.txt
target/surefire-reports/TEST-com.MainTest.xml
target/test-classes/com/MainTest.class
.settings/org.eclipse.m2e.core.prefs
.github/codeql/codeql-config.yml.bak
.github/codeql/queries/pwd.ql.bak
.github/workflows/codeql.yml.bak
.github/workflows/configuration.yml.bak
.github/workflows/java1.yml.bak
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/spotbugsXml.xml
target/.vs/ProjectSettings.json
target/.vs/slnx.sqlite
target/.vs/target/FileContentIndex/8c54dcf4-ec6f-4865-b8cb-2ab34c641186.vsidx
target/.vs/target/FileContentIndex/b898d735-f5c2-4b1e-8f40-8cc94ee85c6e.vsidx
target/.vs/target/FileContentIndex/read.lock
target/classes/.gitignore
target/test-classes/.gitignore
.github/codeql/queries/qlpack.yml.bak
.github/codeql/queries/customize/pwdd.ql.bak
.github/codeql/queries/customize/qlpack.yml.bak
